[2021-01-19 20:43] AmeliaWellers opened #39 "News Homepage Widget"
### Context / Rationale
- In Discovery, the team received [positive feedback ](https://docs.google.com/presentation/d/1stlMKPucvTh97cLD1Y743exWP1Q3-WuW6E58g2vzVhw/edit#slide=id.g5e4967f363_0_156)for including a news feed on the homepage,
- Team found early mockups and [user requirements](https://docs.google.com/document/d/1aDJMaOE8ECYLCriVj5WNqrJrT7gYNrsgoIiZNM6Anoc/edit?usp=drive_web&ouid=1033430

[2021-01-19 20:57] AmeliaWellers opened #40 "Confirm most up-to-date version of CTDS with DAS"
- confirm the language function in CTDS header is consistent with ours

[2021-01-19 22:03] AmeliaWellers opened #41 "Homepage News Widget"

[2021-01-19 22:04] #41 closed, assigned to nobody

[2021-01-19 22:25] AmeliaWellers opened #42 "Build ct.gov Header (STAGE)"
### User Story
As a website user, I can see and use a fully functional CTDS header across every page of the ctoec.org website, so that I understand that this is a State of CT website.

### Product Requirements
- CT logo is present
- Google Translation is present and functions across every page in the main navigation

### Design requirements
- CT logo is the most up to date logo available
- header

[2021-01-19 22:27] AmeliaWellers opened #43 ""migrate" CTDS header to stage.ctoec.org"
Due to significant changes that were made on the live site but not the stage site, stage was no longer an up-to-date replica of the live environment and was not conducive to training and QA. However, we could not simply replicate the new site back to staging because it would override a custom header that Matt had built on staging (The team was not able to get the header from stage to live before M

[2021-01-19 22:34] AmeliaWellers opened #44 "Copy the LIVE env. to STAGE before starting CTDS implementation"

[2021-01-20 22:41] AmeliaWellers opened #45 "CTDS Implementation"
### Context
DAS approached OEC and the website team to integrate a brand new statewide design system into our website, that had not yet existed to the team's knowledge prior to April. We were asked to implement it, with three months left of our contract. Though the request was out of scope for PDG 2, we proposed options to OEC to help them defend their own brand internally, but also feel more like

[2021-01-20 22:46] AmeliaWellers opened #46 "CTDS Implementation"
### Context
DAS approached OEC and the website team to integrate a brand new statewide design system into our website, that had not yet existed to the team's knowledge prior to April. We were asked to implement it, with three months left of our contract. Though the request was out of scope for PDG 2, we proposed options to OEC to help them defend their own brand internally, but also feel more like

[2021-01-20 22:48] #45 closed, assigned to nobody

[2021-01-20 22:53] AmeliaWellers opened #47 "Add CTDS Image Headers"
###User Story:
As a [user], I want to be able to [do thing] so that I can [achieve goal].

###Product Requirements

###Design Requirements

###Acceptance Criteria

[2021-01-20 22:57] #47 closed, assigned to nobody

[2021-01-20 22:58] AmeliaWellers opened #48 "Add CTDS Featured Image Functionality"
## Part 3 of 4 CTDS releases

Move this ticket to the sprint backlog once the feature has been built and QA'ed.
When the feature is released, this will be moved to the done column.

## Resources
[October Mockup 2020](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5eeb738ba7298126c010ec43/282de4e2112d7160af93ef545d2f5867/CTDS%2BOEC.jpg)
[CT Design System](https://projects.invi

[2021-01-20 23:00] AmeliaWellers opened #49 "Add CTDS Icon Library to production"
## Part 2 of 4 CTDS releases

Move this ticket to the sprint backlog once the feature has been built and QA'ed.
When the feature is released, this will be moved to the done column.

## Resources
[October Mockup 2020](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5eeb738ba7298126c010ec43/282de4e2112d7160af93ef545d2f5867/CTDS%2BOEC.jpg)
[CT Design System](https://projects.invi

[2021-01-20 23:03] AmeliaWellers opened #50 "Update CTDS Callout Boxes in production"
## Part 2 of 4 CTDS releases

Move this ticket to the sprint backlog once the feature has been built and QA'ed.
When the feature is released, this will be moved to the done column.

## Resources
[October Mockup 2020](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5eeb738ba7298126c010ec43/282de4e2112d7160af93ef545d2f5867/CTDS%2BOEC.jpg)
[CT Design System](https://projects.invi

[2021-01-20 23:30] AmeliaWellers opened #51 "QA Checklist and Release Plan [Template]"
# QA Checklist
- [ ] Amelia moves QA checklist to each user story/issue
- [ ] Round 1a: Amelia tests functions and as much accessibility as possible, report findings in ticket
- [ ] Round 1b: Adam tests functions and finishes accessibility checklist, report findings in ticket
- [ ] Round 2: Matt updates stage, Amelia and Adam confirm bug fixes in stage

## Product / Function
- [ ]  meets product r

[2021-01-21 16:09] #46 closed, assigned to nobody

[2021-01-22 22:27] AmeliaWellers opened #52 "From Oct 2020: All SVGs have focusable = 'false'"
From Adam: OEC logo, globe icon, mag glass SVGs are coming up as focusable. ARC Toolkit recommends set focusable=‘false’. This may be irrelevant due to other code, but wanted to flag just in case.

[2021-01-22 22:35] AmeliaWellers opened #53 "Re-Launch Calendar"
## Intro/Context
The calendar was added to the site last year, and was live (and empty) until June or July. In discussion with Maggie in July, we took it off the website because we assessed that staff was not prepared to maintain it. Given our deadlines for a full website handoff, we decided to prioritize general in-depth WordPress training to prepare staff to maintain the full website first.

Now

[2021-01-25 17:48] AmeliaWellers opened #54 "News Page Design Improvements"
### Context
This epic has been changing over time, but is intended to cover all of the news page tweaks needed to update the out-of-the box core functionality. Many of the initially identified tweaks (adding pagination and dates to the news page) were added in the Fall.

### List of tweaks:
- [News page Styling Inconsistencies](https://app.zenhub.com/workspaces/oec-website-product-board-600732ace9

[2021-01-25 18:21] AmeliaWellers opened #55 "Confirm Languages in Header"

[2021-01-25 19:32] AmeliaWellers opened #56 "Add Lando"
There are currently 4 repos on the site.

There's one to build the site (ctoec/ctoec), one for the theme (ctoec/benjamin), two plugins (ctoec/gutenburg-alert-block and ctoec/gutenberg-form-block).

- [ ] Merge them into a single repository (ctoec/ctoec). There are better open source tools for building the site now than when we started.
- [ ]  Lando (https://docs.lando.dev/config/wordpress.html). T

[2021-01-25 20:31] AmeliaWellers opened #57 "Product Testing"

[2021-01-25 20:43] AmeliaWellers opened #58 "Tables on CTOEC are wrapped in a <figure> tag with its own class."
**Describe the bug**
Tables on CTOEC are for some reason being wrapped in a figure tag with it's own class.

In the Fall 2020, solution was found by Adam, Leo or Jesse when this ticket was moved into the sprint in December. Moved back to backlog and waiting for front-end dev's 2 cents.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page that has a table
2. Click on the table and p

[2021-01-25 20:53] #55 closed, assigned to nobody

[2021-01-26 19:25] AmeliaWellers commented on #40
confirmed that no major updates have been made since summer 2020, confirmed with Jeff Corriveaux and Thomas Brophy via email on 1/26/21.

[2021-01-26 20:00] AmeliaWellers opened #59 ""+" icon is misaligned on main nav - mobile view"
**Describe the bug**
The "+" icon for expanding the language options in the main navigation [is not aligned ](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5f84951b65c0787a09814702/6dd5e2fc390461d7bd64140d02b8275c/image.png)with the "+" icons in the rest of the menu.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to menu in mobile view
2. + sign is misaligned

**Ex

[2021-01-27 22:01] AmeliaWellers opened #60 "Images are stretched vertically on Chrome"
**Describe the bug**
Some images look stretched out vertically in Chrome on the live site. Adam was able to replicate. The image seems to be about double the vertical length that is should be.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit any page with an image on either the stage or the live sites, such as the [About Page.](https://www.ctoec.org/about-oec/)

**Expected behavior**
Im

[2021-01-27 22:08] AmeliaWellers opened #61 "Menu Flashing"
One example:
**Describe the bug**
When on the Educational Campaign Materials Page, the sidebar's internal dropdown menu for that section doesn't stay open
https://www.ctoec.org/about-oec/partnerships/connecticut-head-start-state-collaboration-office/

Generally however, menus flash on various pages on the site, both in mobile and on desktop.

[2021-01-27 22:45] AmeliaWellers opened #62 "Videos are not loading on webpages"
**Describe the bug**
Videos are not loading on webpages. See the [For Families, By Families](https://www.ctoec.org/for-families-by-families-keep-it-real-initiative/) page as an example.

**Expected behavior**
Videos should be visible.

**Screenshots**
[Screen Shot 2021-01-27 at 5.43.53 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/abe2aac3-b82c-4b97-baea-9869f9e9ed3e)

**De

[2021-01-27 23:24] AmeliaWellers commented on #62
Team troubleshooting on 1/27/20 6pm
- Confirmed that videos are viewable on Chrome, iPhone for safari, Firefox and edge.
- Amelia wasn't able to see the videos even after a cleared Google Chrome Cache, cleared WordPress cache, and force refresh of the site. When she managed to logout and do a force refresh, it worked :)

[2021-01-28 01:39] mta-hondo commented on #62
Videos were broken. Anyone who was seeing them was on a cached version of the page. This is fixed though.

[2021-01-28 01:40] bloom-hondo commented on #62
Anyone who was able to see this was viewing a cached version of the page. It should be resolved now.

[2021-01-28 01:52] bloom-hondo commented on #60
This is fixed.

[2021-01-28 15:29] AmeliaWellers commented on #60
@bloom-hondo I'm afraid it's not resolved yet. I checked this page: https://www.ctoec.org/become-a-provider/ and the image are still stretched vertically in both Safari and Chrome.

[2021-01-28 15:40] bloom-hondo commented on #60
@AmeliaWellers can you try in a private window? I just dumped the cache.

<img width="1290" alt="Screen Shot 2021-01-28 at 10 39 10 AM" src="https://user-images.githubusercontent.com/53876248/106161674-4a347b80-6155-11eb-948b-c539231187ae.png">

[2021-01-28 15:46] AmeliaWellers commented on #60
Perfect. It works in incognito in both Safari and Chrome. Thank you!

[2021-01-29 21:35] AmeliaWellers opened #63 "Add Akismet Spam Filter Plugin"
This was included in the list of plugins on stage.ctoec.org that would be added to the live site. However, it doesn't look like it made it to the live site.

To reduce spam entries on forms, it would be great to add this plugin to ctoec.org

[2021-02-01 16:36] AmeliaWellers opened #64 "Make page path in URL consistent"
Currently, only COVID-19 and the Licensing page have the top-level domain included in the URL.

To remain consistent across the site (and for future analytics and SEO purposes), include the top-level domain in the URL by unpublishing and re-publishing all pages across For Providers, Funded Programs, and For Families

top-level domain could be /families/ or /providers/

Also, edit this URL to be co

[2021-02-01 16:42] #40 closed, assigned to AmeliaWellers, admoorgit

[2021-02-01 17:26] AmeliaWellers opened #65 "From Jesse: Identify why theme settings were not replicated when restoring PROD database"
**Describe the bug**
From Jesse's email - Nov 2020

"For some reason, a lot of the settings under Theme-> Appearance -> Customization were not replicated when I restored the production database. Maybe someone who knows more about wordpress than me could tell us why that is, but for now I am manually setting the theme settings by comparing to the production site."

***Open Questions***

- Does this

[2021-02-01 19:14] #44 closed, assigned to nobody

[2021-02-01 19:16] #43 closed, assigned to bloom-hondo

[2021-02-01 20:17] AmeliaWellers opened #66 "WP language widget doesn't translate a second language after selecting the first language"
**Describe the bug**
When viewing ctoec.org from the Google Translate page, the WordPress language widget on production currently doesn't work when a user clicks on one language from the widget, then wants to click a second language from that widget. The only scenario that does work is if a user has chosen a language in the GT header instead, then wants to click on one of the widget's six options.

[2021-02-01 21:22] AmeliaWellers commented on #42
Syncing with @admoorgit  now about how we want to plan our QA, but for now: @bloom-hondo I was clicking around and found an issue with the translation function, which I've created a new issue for. We can release the ct.gov header without it, but if you have the time, it would be great to look over that issue and assess whether you'd have capacity to pull it in for Thursday's release. Otherwise we

[2021-02-02 16:05] AmeliaWellers opened #67 ""In this section" does not toggle to secondary nav"
**Describe the bug**
On iOS, and in mobile view on the chrome browser, the "In this section" widget briefly shows the second nav and then disappears. The menu does not show again when clicking "in this section", though the arrow toggles down, and up, and changes from grey to blue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any secondary nav page on the website.
2. Click on "In thi

[2021-02-02 22:42] AmeliaWellers opened #68 "Create a news archive"
### User Story:
As a licensing staff member, I want to be able to refer to and share an archive of news posts that pertain to updates that have been shared with the field.

Context: Licensing would like to have publicly-accessible proof that they shared news with the field.

### Product Requirements
- News archive should be accessible to the public via a shareable link
- News archive should be org

[2021-02-03 16:09] AmeliaWellers commented on #42
@admoorgit I've explored the tools (Axe, web developer, and an accessibility color picker) and checked off the boxes in the list to the extent that I feel comfy speaking to. A few pieces below:

- Some unnecessary spaces between sentence 1 and sentence 2 in the alert banner
- Not sure if it matters that the div order skips from 4 to  6 between the alert banner and the homepage
- The ct.gov logo is

[2021-02-03 16:56] AmeliaWellers opened #69 "Change and re-order languages (STAGE)"
According to the advisory team, the next most popular first language after English for OEC families and providers is Spanish followed by Brazilian Portugese. Additional common second languages are present such as Polish, German, Greek, Arabic or Mandarin. According to both SDE data and google analytics, each of these, along with numerous other languages, comprise less than .01% of the families/par

[2021-02-03 23:54] bloom-hondo commented on #67
Ready to test on production

[2021-02-03 23:55] bloom-hondo commented on #63
@AmeliaWellers why do we need this on production?

[2021-02-04 00:21] AmeliaWellers opened #70 "Add ct.gov header to stage"

[2021-02-04 00:25] AmeliaWellers opened #71 "Add ct.gov header to production"
# Part 1 of 4 CTDS releases

### Product Requirements
- CT logo is present
- Google Translation dropdown is present and functions across every page in the main navigation

### Design requirements
- CT logo is the most up to date logo available
- header matches CTDS design system requirements
- header meets Section 508c accessibility requirements

### Acceptance criteria
- Header passes QA and rele

[2021-02-04 02:15] bloom-hondo commented on #58
This is the standard behavior for WP blocks. The styles for the wp-block-table class get applied from usa-table, so it should be okay.

[2021-02-04 17:58] AmeliaWellers commented on #67
I tested the majority of menu items on my iPhone 11, looks good!

[2021-02-04 18:12] AmeliaWellers commented on #63
For the forms! We currently have a general feedback form that is public on the website, and it receives a lot of spam. It would be great to have these entries flagged so that Chenae doesn't need to wade through them every week.

For any other public forms OEC would like to create down the road, I believe this will be a valuable plugin.

[2021-02-04 18:13] AmeliaWellers commented on #58
Making sure @admoorgit sees Matt's comment above... if all good, will move to done (thank you for investigating, Matt).

[2021-02-04 18:20] admoorgit commented on #58
I did see this! Checked how tables display on the site now and it looks like the problem is fixed. The problem was border-collapse was weird and all the cells were split out. Looks like they're behaving now. Yay? YAY!

[2021-02-05 16:11] MorganGriffin-BloomWorks opened #72 "AQIS Map"
Request from Margaret to adapt the SFCCNs map for AQIS facilitators, so people have local contacts for AQIS information.
Adam used the SFCCNs block and adapted it to the new data
Morgan dropping it onto the new AQIS page (which is live but not yet in the nav)
Morgan QCing and then sharing with Margaret

[2021-02-05 21:49] AmeliaWellers opened #73 "Add icon selection to callout box (STAGE)"
### User Story
As a user, I can choose whether I would like to include an icon for my callout box, to adapt to multiple content scenarios.
As a user, I can select an icon from the library to my callout box that visually supports the message I would like to highlight.

### Product Requirements
- A user can choose to either show an icon, or not show an icon using a toggle
- If show icon = N, the cal

[2021-02-05 22:07] AmeliaWellers opened #74 "Build Icon Library (STAGE)"
### User Story
As an OEC Staff member, I am able to use choose from multiple icons when creating a callout box, providing additional options to visualize the purpose or topic of the message I'd like to share.

### Product Requirements
- user can only use the icon library from callout boxes
- When selecting "~change~ select icon" in a callout box, user can see the full icon library

### Design Requ

[2021-02-05 22:18] #70 closed, assigned to nobody

[2021-02-08 17:09] AmeliaWellers opened #75 "Logo cuts off first paragraph on For Families page"
**Describe the bug**

On [For Families, By Families](https://www.ctoec.org/for-families-by-families-keep-it-real-initiative/) page, The initiative's logo cuts into the body text, cutting off 'The' from the rest of the first paragraph on chrome/iPhone 11.

**Expected behavior**
Logo should come first, followed by a full body paragraph.

**Screenshots**
![IMG_2222 2.PNG](https://images.zenhubusercon

[2021-02-08 17:17] bloom-hondo commented on #42
Fixes have been deployed to https://stage.ctoec.org/

I deleted the caches on the server, but you may need to force refresh your browser.

[2021-02-08 18:11] admoorgit opened #76 "Choose icons for callout boxes"
https://ionicons.com

[2021-02-08 18:12] admoorgit opened #77 "ct.gov header bug fixes"
### Issue
**Issue:** "Languages" button is not accessible via keyboard (tab skips from "skip to main content" link to the "alert" link)
**Suggested fix:** Make "Languages" keyboard accessible — between "skip to main content" and "alert"/OEC logo
- [x] Ready for QA
- [ ] Confirmed Fixed
- [ ] Added to production

~### Issue~
~**Issue**: the alt attribute for the language image is "office of early c

[2021-02-08 21:27] AmeliaWellers opened #78 "remove alert box (STAGE)"
### User Story
As a user editing a page, I do not have the option to use an alert box.

### Product Requirements
- alert box cannot be accessed from anywhere on the site

### Notes for launch:
- Need to search for and replace in-use alert boxes before removing the alert box entirely

# QA Checklist
- [x] Amelia moves QA checklist to each user story/issue
- [ ] Round 1a: Amelia tests functions ~and

[2021-02-08 22:07] AmeliaWellers opened #79 "Create callout block (STAGE)"
### User Story:
As a user editing the website, I want to use a callout box to highlight different types of content on the page

### Product Requirements
- User can add a title to the callout box
- User can add body text to the callout box
- User can choose to show an icon, or not show an icon.
- ~User can drag a callout box above, left or right of other page content in the editor~ User can select

[2021-02-08 22:27] #67 closed, assigned to AmeliaWellers, bloom-hondo

[2021-02-08 22:27] #62 closed, assigned to AmeliaWellers

[2021-02-08 22:27] #58 closed, assigned to bloom-hondo, admoorgit

[2021-02-09 19:32] admoorgit commented on #74
Hi!
Icons are stored here: [https://drive.google.com/drive/folders/1879G-wbvsJCfKzp8Mi7XwqMBHSSVftVO?usp=sharing](https://drive.google.com/drive/folders/1879G-wbvsJCfKzp8Mi7XwqMBHSSVftVO?usp=sharing). First batch is in there, and I'll continue to add and remove as needed. As of now there are A LOT (probably too many), so I'll talk to content about what makes sense given the needs they've seen so f

[2021-02-09 20:47] admoorgit commented on #42
**Issue:** Languages drop down only closes when "Languages" text/button, or a link on the page is clicked.
**Browser(s):** Safari, Chrome, Brave (current vers)
**Suggested Fix:** Allow user to click elsewhere on the page to close it, similar to how the main navigation functions

[2021-02-10 15:35] admoorgit commented on #42
**Change:** Adjustment to the "Alert" banner (below the blue bar at the top, above the nav) color palette
**Reason:** The color palette is currently default CTDS, which we've decided to deviate from (as a team, client included) in order to make it more OEC-brand-specific
**Suggested fixes:** remove the border, then — background: #162e51; font-color: #FFF; padding: 1.5rem;

**Question:** What's the

[2021-02-10 15:47] admoorgit commented on #42
**Issue:** "Scroll to Top" does not scroll to include the navigation or CT bar — it stops just above the breadcrumb
**Suggested fix:** Add anchor link to header

[2021-02-10 15:49] admoorgit commented on #42
**Issue:** "Languages" button is not accessible via keyboard (tab skips from "skip to main content" link to the "alert" link)
**Suggested fix:** Make "Languages" keyboard accessible — between "skip to main content" and "alert"/OEC logo

[2021-02-10 16:00] admoorgit commented on #42
Update on Skylight checklist items:

**[N/A]** Multimedia is tagged
**[N/A]** Tables are coded properly
**[N/A]** Form inputs have explicit labels
**[N/A]** Form instructions are associated with correct inputs
**[N/A]** Frames (if applicable) are named
**[N/A]** CSS isn't required to use the page
**[N/A]** Flashing elements are compliant or set to static
**[N/A]** Required plugins are linked on th

[2021-02-10 16:13] admoorgit opened #80 "News Page Styling Inconsistencies - round 1"
**Describe the issue**
It's not a bug, it's just a styling issue.
News page (https://www.ctoec.org/news) and individual news items (https://www.ctoec.org/news/read-oecs-new-handout-about-promoting-well-being-during-covid-19/, for example) use the wrong left nav, and the wrong H1 tags.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the links above

**Expected behavior**
Proper use of l

[2021-02-10 16:54] admoorgit commented on #42
**Minor quirk:** "Menu" active state has slightly less padding than it's hover state, so it shrinks on click. Cosmetic only. Not a blocker for launch.

[2021-02-10 16:55] admoorgit commented on #42
**IE11 / Windows 7 issue:** "Languages" globe icon is permanently squished. Very small user base, and visual quirk only. Not a blocker for launch.

[2021-02-10 17:32] admoorgit commented on #42
**CLIENT QUESTION:**
Do want the CT.gov logo in the new header to link to CT.gov, or to CTOEC.org?

**Note:** OEC logo links to the homepage currently.

@admoorgit I thought about this too. In an effort to stay as simple as humanly possible for this first launch, having a static image seemed to be the least risky move. Other reasoning: when a user clicks the ct.gov logo, they're exiting the OEC we

[2021-02-10 17:44] AmeliaWellers commented on #42
**Issue**: in mobile and tablet view, horizontal white border is displayed between each language selection in the dropdown.
**Browser**: Chrome, Safari
**Suggested Fix**: change white line color to CTDS blue to make them invisible, or remove white lines.

[2021-02-10 17:53] AmeliaWellers commented on #42
Something to watch out for when the ct.gov header is viewed on the translation bar: right now, the language translation overlaps the header of the alert banner when viewed in mobile.
Browser: Chrome (viewed in Windows)

![Screen Shot 2021-02-10 at 12.46.57 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/04f86df3-9183-4b07-aece-1bc122e00304)

[2021-02-11 15:32] admoorgit opened #81 "Margin/Padding issues on Homepage"
**Describe the bug**
On the CTOEC.org homepage, left and right margins (or padding?) are totally out of whack.

**To Reproduce**
Steps to reproduce the behavior:
1. Load IE11 on Windows 10 or 7 (I checked via Browserstack, for the record)
2. Go to CTOEC.org

**Expected behavior**
Non-exploded margins

**Screenshots**
![Screen Shot 2021-02-11 at 10.15.35 AM.png](https://images.zenhubusercontent.com

[2021-02-11 16:00] #42 closed, assigned to nobody

[2021-02-11 16:01] #72 closed, assigned to admoorgit, MorganGriffin-BloomWorks

[2021-02-11 16:52] AmeliaWellers commented on #77
@admoorgit found this at the bottom of the Icebox column? Is this for Release 1 or Release 2?

[2021-02-11 16:53] AmeliaWellers commented on #76
@admoorgit same here! I will look down here next time before I made an identical ticket :)

[2021-02-11 16:55] admoorgit commented on #77
Release 1. Is complete!

[2021-02-11 16:55] admoorgit commented on #76
If you have a ticket already you can kill this. This is in progress now

[2021-02-11 16:59] #76 closed, assigned to nobody

[2021-02-11 21:52] AmeliaWellers commented on #60
Reopening this one because there's still a case of a stretched image @bloom-hondo
**issue**: when the Media & Text block is selected, the image stretches vertically again. This is most likely the same issue that broke the videos/images, but just one more case.

[2021-02-11 21:54] bloom-hondo commented on #60
Is there a URL with an example?
On Feb 11, 2021, 4:53 PM -0500, AmeliaWellers <notifications@github.com>, wrote:

[2021-02-12 16:51] AmeliaWellers commented on #60
My apologies. I've been keeping a draft going in production (that I will eventually remove) to test out the gutenberg changes. The page title is "[a draft page for testing the new editor](https://www.ctoec.org/?page_id=12798&preview=true#heading)" and here's a screen shot: ![Screen Shot 2021-02-11 at 4.41.43 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/7cfa7883-0c30-4081-a

[2021-02-12 19:27] admoorgit commented on #74
Update: Morgan cleaned some icons out (they're in a folder called "Consider removing" for now), and I did a second pass to get the number down. We have 90 icons now, which seems to cover a ton of bases. I think we're in a good spot to load these in.

https://drive.google.com/drive/folders/1879G-wbvsJCfKzp8Mi7XwqMBHSSVftVO?usp=sharing

[2021-02-16 15:43] AmeliaWellers commented on #74
Sweet - I took a look and they all look normal - except for the woman icon? Is she reading a book? Is there a normal one?
https://drive.google.com/file/d/1FxGUTVZ44arob11x3NIGbSQ5ZsAXdNl4/view?usp=sharing

[2021-02-16 16:48] admoorgit commented on #74
I THINK that's a preview issue, as "she" doesn't have a book. I'll look at the anchors and make sure all the paths are drawn. Likely something is missing

[2021-02-16 17:07] admoorgit commented on #74
YUP. Anchors weren't connected. Might've caused issues with the SVG display on the site itself, so glad you called it out. Should preview OK now.

[2021-02-18 17:24] AmeliaWellers opened #82 "CSS Style changes are added to STAGE"
### Design Requirements
[Feb 2021 Mockup](https://www.figma.com/file/YifRehO7BrZhP1Wdru67Zo/CTDS-OEC?node-id=280%3A0 )

### Acceptance Criteria
- [x] CSS Style changes have been added to the staging environment
- [ ] CSS Style changes meet Product/Design requirements

### Resources
[October 2020 Mockup](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5eeb738ba7298126c010ec43/2

[2021-02-18 17:33] AmeliaWellers opened #83 "Build Hero Image Component as Featured Image"
### User Story:
As a staff member, I want to be able to add a hero image to the page in order to more quickly set a pleasing visual tone for selected pages.

### Product Requirements
- [x]  Users can upload an image using the "Featured Image" setting
- [x] Users can upload a single image from their computer
- [x] Users can select a single image from the media library (?)
- [x] Users can change and

[2021-02-19 17:38] AmeliaWellers commented on #63
Finally looked into whether Akismet can filter spam on Forms. It can! Here's the documentation:
https://docs.gravityforms.com/akismet-anti-spam/#:~:text=bookmark_borderAkismet%20Anti%2DSpam&text=When%20enabled%20all%20form%20submissions,Entries%20area%20of%20the%20form.

If United Way already has the paid version of Akismet, let's add this in to limit form spam. @bloom-hondo if you think it makes

[2021-02-19 19:49] AmeliaWellers commented on #60
Adding one more example: https://www.ctoec.org/about-oec/partnerships/parent-cabinet/parent-cabinet-history/

This is going live soon, and this format for the bios seems to be the cleanest (when the images are not stretched) and easiest to manage, compared to manually dragging and shaping the boxes. Will check on Monday about if it's possible to bring this into Release 0.2

[2021-02-19 23:56] AmeliaWellers opened #84 "Assign and Upload Hero Images"
### User Story:
As a user, I want to be able to access a selection of high quality hero images in the media library so that I can be sure that my hero image is high quality and appropriate.

### Design Requirements
- Hero images meet the minimum/maximum size requirements
- Hero images support the main message of the page and have been approved by OEC (addtl photos purchased if needed)
- Images are

[2021-02-22 16:01] AmeliaWellers commented on #79
## Round 1 QA
### Functionality
- Technically the user doesn't drag the callout box, but since a user can still select vertical vs. horizontal, that's cool too! I'll update the product requirements, this is good.
- When testing 2 in a row:
  - the "horizontal" layout selection actually results in the "vertical" layout, and also vice versa. It seems that the words are switched.
  - the more I think

[2021-02-22 18:34] #63 closed, assigned to AmeliaWellers, bloom-hondo

[2021-02-22 19:12] AmeliaWellers commented on #66
As discussed in Slack, according to Matt, this is a Google Translate issue that somehow exists only in Chrome. Not fixable on our end, but definitely + 1 for any new translation service approved by the state of CT.

[2021-02-22 19:13] #66 closed, assigned to bloom-hondo

[2021-02-22 21:16] AmeliaWellers commented on #74
- I uploaded all of the icons from the drive file into Stage. Nothing broke when I uploaded all 50 icons, but it did take about a half hour (note for release timing)

### Product/Functionality
 - since we can't see the full icon library visualized, Matt is looking into a scroll bar for the list of icon titles. If this is possible, product reccs are met.

### Design/Accessibility
- I added Alt text

[2021-02-23 19:57] admoorgit commented on #79
Here's the remainder of the checklist: (y = yes/good to go, n/a = not applicable to this item, "x" = incorrect, ? = question)

- [ y ]  Page is keyboard accessible and free of keyboard traps (there are no links, so there is nothing to tab to — the text is readable in VoiceOver)
- [ y ]  Page tab order is logical (again, no links)
- [ y ]  Headings are nested properly
- [ n/a ]  Frames (if applicab

[2021-02-23 19:59] bloom-hondo commented on #79
Because the SVGs are inline, they would need the title attribute when uploaded.
On Feb 23, 2021, 2:57 PM -0500, admoorgit <notifications@github.com>, wrote:

[2021-02-24 15:33] AmeliaWellers commented on #73
*Issue*: When hovering over the toggle for "show icon" on the second item, the down arrow obscures the toggle and makes it difficult to click.
![Screen Shot 2021-02-24 at 10.21.39 AM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/377a5d02-36be-4812-8078-d90db5d0e543)
*Suggested fix:* Move toggle and "Show Icon" down, to be in line with the text box. That would also be aligned w

[2021-02-24 15:43] AmeliaWellers commented on #73
*Issue*: The list of icons is wider/longer than the text field itself.

![Screen Shot 2021-02-24 at 10.40.28 AM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/0edcc558-c671-408c-97ba-3c92dcb65fe8)

*Suggested fix*: have the width of the list match the width of the text field.

[2021-02-24 16:25] admoorgit commented on #79
Styling adjustments for callouts based on most recent CTDS values and some custom tweaks:

Purple Bar on Horizontal + Card:
- border-left-width (or top-width on card): .375rem solid #61366F
- border-radius: .25rem;

Horizontal Margin:
- margin-bottom: .275rem;

Card Margin:
- margin-bottom: .5rem;

Shadow for both:
- box-shadow: .1rem, .25rem 1.25 rem rgba(97,54,111,.1)

SVG width and max-height:

[2021-02-25 16:30] AmeliaWellers commented on #77
@bloom-hondo the Languages menu can now be tabbed to (hooray), but the menu cannot be selected by pressing "enter" on the keyboard.
fix: ensuring user can tab through all languages selections on the menu bar, select each one by pressing "enter", and can close/tab out of the dropdown

[2021-02-25 17:30] AmeliaWellers commented on #50
Issue: If a user does *not* select a horizontal or card layout, the callout box displays stripped of any styling.
Intended behavior: If a user does not select a horizontal or card layout, the callout box defaults to horizontal, and all CSS styling is included.

Will wrap this into the next sprint

[2021-02-25 18:52] admoorgit commented on #50
Styling adjustments for callouts based on most recent CTDS values and some custom tweaks (pulled from STAGE ticket)

Purple Bar on Horizontal + Card:
- border-left-width (or top-width on card): .375rem solid #61366F
- border-radius: .25rem;

Horizontal Margin:
- margin-bottom: .275rem;

Card Margin:
- margin-bottom: .5rem;

Shadow for both:
- box-shadow: .1rem, .25rem 1.25 rem rgba(97,54,111,.1)

[2021-02-25 22:55] admoorgit commented on #50
Hi! Here's a suggestion for a tweaked order for callout box content entry. One thing we noticed while walking through it today was it is a little clunky if you're trying to go fast. So what about...

**Layout (Horizontal/Card) — If possible, make "horizontal" default
Title
Content
Icon On/Of
Icon Search**

Also, please remove the second instance of "View a full list of available icons at https://c

[2021-02-25 22:56] admoorgit commented on #50
Change error message for mistyping an icon name in the search.

It currently says "Invalid Post". Should be something like "No icon matches found"

[2021-02-25 23:09] admoorgit commented on #50
@bloom-hondo a few items I've been thinking about. Can you a) let us know if it's even possible/feasible and b) if so, what is the LOE ballpark?

1. Can we make any changes to the Gutenburg visual editor so it's clear when content is an alert/callout box — OR are there any plugins that could do this? It's currently not visible until it's clicked, and I worry that'll confuse OEC.

IF NOT, we can po

[2021-02-26 17:43] AmeliaWellers opened #85 "CSS Style Changes"
## Part 3 of 4 CTDS releases

Move this ticket to the sprint backlog once the feature has been built and QA'ed.
When the feature is released, this will be moved to the done column.

## Resources
[October Mockup 2020](https://trello-attachments.s3.amazonaws.com/5c17dc735e6e6c1c9e791dfc/5eeb738ba7298126c010ec43/282de4e2112d7160af93ef545d2f5867/CTDS%2BOEC.jpg)
[CT Design System](https://projects.invi

[2021-02-26 19:36] admoorgit commented on #50
Changes to "TITLE" style in callout box:

font-size: 1.5rem;
margin-bottom: 1rem;

[2021-03-01 16:23] AmeliaWellers opened #86 "Make Language bar keyboard accessible"
**Bug**The Languages menu can now be tabbed to (hooray), but the menu cannot be selected by pressing "enter" on the keyboard.
**Fix:** ensuring user can tab through all languages selections on the menu bar, select each one by pressing "enter", and can close/tab out

[2021-03-01 16:26] AmeliaWellers commented on #77
Moving this last bug to a new ticket for the next release, and movin this one to done :)

[2021-03-01 16:47] AmeliaWellers opened #87 "Callout box styling tweaks"
### Callout box layout
**Field layout**
One thing we noticed while walking through it today was it is a little clunky if you're trying to go fast. So what about...

*Layout (Horizontal/Card) — If possible, make "horizontal" default
Title
Content
Icon On/Of
Icon Search*

Please remove the second instance of "View a full list of available icons at https://ctoec.org/oec-icons", as this info is also i

[2021-03-01 18:29] AmeliaWellers commented on #50
@admoorgit a few answers to the q's above:

IF NOT, we can point them to the "List View" option that tells you everything on the page, and clicking that opens the lil editor automagically. --- **I think this is going to be the way to go to keep general dev costs down for a function that will be used relatively infrequently. But, we should include this in training/wordpress guide, and I'll make a c

[2021-03-01 19:18] #77 closed, assigned to bloom-hondo

[2021-03-01 19:19] #50 closed, assigned to nobody

[2021-03-01 19:35] AmeliaWellers opened #88 "Build icon guide / add custom icons"
### Context
While assigning icons to callouts, it became clearer which icons don't need to be in the library. Additionally, the callout box functionality had some development limitations, leading to the necessity for an icon guide to be present in the Style Guide

### User Story
When someone wants to add an icon to a callout box, they can reference an icon library guide ctoec.org/oec-icons to assi

[2021-03-01 19:38] #57 closed, assigned to nobody

[2021-03-01 19:41] #79 closed, assigned to bloom-hondo, admoorgit

[2021-03-01 19:51] AmeliaWellers opened #89 "Submit to genesis: Custom block should not disappear in editor without user inputs"
### Context
This was written as a [product requirement](https://app.zenhub.com/workspaces/oec-website-product-board-600732ace98820000e3ffaea/issues/ctoec/ctoec/73), but we missed it. Adding back in as a user story to loop into the next sprint.

### User Story
When a user has selected "show icon" in the callout box, and has not selected an icon from the list of options,  default icon is shown.

###

[2021-03-01 21:22] #74 closed, assigned to bloom-hondo, admoorgit

[2021-03-01 21:23] #73 closed, assigned to AmeliaWellers, bloom-hondo

[2021-03-01 21:25] #60 closed, assigned to AmeliaWellers, bloom-hondo

[2021-03-01 21:53] AmeliaWellers opened #90 "Submit to Genesis: make icon library visible from block editor"
##enhance "search icon" filtered listbox
### User Story:
As a user typing in the **search icon** field of the callout box, I want to be able to see a list of icons that match the characters I've typed in the search field.

### Product Requirements
- When a user types a single letter, such as "a", the listbox returns icon titles that begin with "A"
- When a user types two letters into the field (ex

[2021-03-01 22:10] #69 closed, assigned to bloom-hondo

[2021-03-02 01:51] bloom-hondo commented on #90
We can't modify that lookup.

[2021-03-02 02:06] bloom-hondo commented on #89
We can't edit this box with this functionality. The behavior that exists is what we get.

[2021-03-02 02:08] bloom-hondo commented on #83
@admoorgit i need the css gradient specs for the hero

[2021-03-02 02:14] bloom-hondo commented on #87
Fields are reordered

@AmeliaWellers I'm not seeing this. Can you post a screenshot?

We can't change the error message.

[2021-03-02 15:09] AmeliaWellers commented on #87
Thanks Matt. I've attached the screenshot below - now that the fields are reordered, the duplicate textplanations are more noticable.

![Screen Shot 2021-03-02 at 10.07.21 AM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/2fb70bf3-18e3-40a6-8f2d-1a9b2929883d)

[2021-03-02 15:11] admoorgit commented on #83
Hola!
Here's an approximation of what's going on in Figma:
- linear-gradient(to right, rgba(97,54,111,1), rgba(97,54,111,0));
- mix-blend-mode: multiply
- the gradient itself is about 75% of the image.

If it'd be easier + more supported to use an SVG, I can generate one of those too. Let me know which you prefer.

[2021-03-02 15:34] AmeliaWellers commented on #89
It's. Just. So. Sad! Ok. We'll just have to loop it all into training. The issue of the block disappearing is not ideal. I will try to submit something to Gutenberg/Wordpress and see what happens.

[2021-03-02 15:54] AmeliaWellers commented on #90
Is it not possible at all, or is it possible but will take too many dev hrs?

[2021-03-02 16:04] bloom-hondo commented on #90
Not possible at all without a completely custom call out block. About 3 weeks of time.

On Tue, Mar 2 2021 at 10:55 AM, AmeliaWellers < notifications@github.com > wrote:

[2021-03-02 16:18] AmeliaWellers commented on #90
Okie dokes, thank you. Any idea the keywords I should search for in this list to see if this issue has already been submitted to them? It looks like it hasn't been, I'd be willing to add this in. https://github.com/wordpress/gutenberg/issues?q=is%3Aissue+is%3Aopen+

[2021-03-02 20:53] bloom-hondo commented on #90
The issue built into Gutenburg, it's another plugin (Genesis Blocks) that creates the custom blocks. It's not open source, but we can submit an issue to them once we've compiled all our wants.

[2021-03-03 17:50] AmeliaWellers opened #91 "Mockup + Build News Widget on Stage Homepage"
### User Stories
- As a user, I can click on a "Latest News" news post to view OEC's most recent news.

### Product Requirements
-   user can scroll down to the news widget on the homepage
-   user can view a list of 3 (min) to 5 (max) news posts on the homepage
-   user can click on any news post via a hyperlinked title
-   when user clicks on the title of a news post, they are sent to the news p

[2021-03-03 18:38] AmeliaWellers commented on #90
Ahh, great. I'll move this, and some other fixes we came across, back to the icebox to submit when ready.

[2021-03-04 14:57] admoorgit commented on #88
Page is here: [OEC Icon Library](https://www.ctoec.org/oec-icon-library/)
Still in progress. Need to:
• add in all (custom) icons
• fix height issue w/ tables
• gain consensus on categories

[2021-03-04 16:15] admoorgit commented on #91
HOWDY!
Here are previous versions of the news widget from Figma!

This was done before I came on board, so early 2020:
![image.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/9a9abe94-8128-49ad-9f5b-9e2e95e2ada9)

Here's the basic one we pulled together in Oct 2020:
![image.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/d57f9262-2aa0-41cd-8567-c3cf1cdf2a2c)

[2021-03-04 19:43] AmeliaWellers commented on #83
**Bug:** In OS Catalina on Safari, hero image is stretched vertically, and it looks like CSS is stripped (no gradient, header is above the background image). ![Screen Shot 2021-03-04 at 2.41.13 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/6512e716-331c-4731-92b2-0b73b0bf32fc)

(and yes, I cleared all the caches :)

[2021-03-04 19:50] #78 closed, assigned to bloom-hondo, admoorgit

[2021-03-04 19:57] AmeliaWellers commented on #88
Thanks for the update! Let's touch base on your progress tomorrow during standup, happy to dedicated some focused time tomorrow to help with confirming the categories, aiming to finish by the end of the day/end of sprint.

[2021-03-04 21:18] AmeliaWellers opened #92 "Closeout Tasks"
## WordPress Tasks
- [x] [All plugins are updated ](https://app.zenhub.com/workspaces/oec-website-product-board-600732ace98820000e3ffaea/issues/ctoec/ctoec/107)
- [ ] All Genesis/WordPress bugs have been submitted to Genesis/WordPress ([make icon library visible from block editor](https://app.zenhub.com/workspaces/oec-website-product-board-600732ace98820000e3ffaea/issues/ctoec/ctoec/90)) ([custom

[2021-03-04 21:43] AmeliaWellers commented on #87
### Callout box layout
 - @bloom-hondo I refreshed all the caches, but I didn't see the proposed changes for the field layout reorg and removing the duplicate sentence.
 - As discussed today, the error message can't change, so we'll keep it as is.
 - @admoorgit, I had copied and pasted this part, but upon rereading, am not sure what "Changes to "TITLE" style in callout box" is referencing. Is it a

[2021-03-04 21:46] #71 closed, assigned to AmeliaWellers, bloom-hondo, admoorgit

[2021-03-04 22:02] AmeliaWellers commented on #87
### Field Layout take 2
- Checked out production, where the changes are. The layout makes more intuitive sense now. Shouldn't need to change this again, and I'll check back in after seeing how cc's respond to it.
- The  "View a full list of available icons at https://ctoec.org/oec-icons" is still present (see screenshot above) Suggestion: remove the sentence at the very bottom of the list, and kee

[2021-03-04 22:48] AmeliaWellers commented on #83
**Bug:** If an uploaded featured image is too small, a blue alert bar displays underneath the featured image thumbnail. The image obscures the alert so that it cannot be read.  Screenshot below.

**Addtl. considerations:** There is is also an alert banner that displays at the top of the page when a too-small image is uploaded (screenshot also below). For this first round, I think it's ok to have o

[2021-03-04 22:57] AmeliaWellers commented on #83
**Bug (kinda):** Somewhat related to the "obscuring image" design requirement, some of these images may not be scaled or oriented appropriately for the banner. For example, you can't see the man's eyes in the desktop view, and he's a half-purple human  in mobile.
**One idea:** We could start custom cropping each header image when Adam and I start to upload images, but that may significantly reduce

[2021-03-04 23:27] AmeliaWellers commented on #84
As a flag here: it looks like like most of the images in the media library are too small for the headers. I downloaded the large version from the drive folder to test on this page (THANK YOU @admoorgit  for thinking ahead on this one, and downloading both medium and large images for the headers way back in August). For launch, we'll need to:
- upload all the large image versions to the prod media

[2021-03-05 16:32] AmeliaWellers opened #93 "List icon out of focus"
**Describe the bug**
List Icon is out of focus across most pages (most frequently used as "On this page" icon).

**Screenshots**
![Screen Shot 2021-03-05 at 11.29.52 AM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/9eebee77-0a40-47e4-b510-f769606cf1ff)

[2021-03-05 18:53] admoorgit commented on #83
Helloooo,
@AmeliaWellers — I figure for this first set (at the very least), we'll crop all of the images by hand. Won't take long to do with Figma! Part of my review of the images currently on the site was seeing how they'd crop in this new config. Not all of them will work as-is, but there are some options:
1) adjust the existing images so they'll better fit in that space — which may include fadi

[2021-03-08 15:58] admoorgit commented on #88
[Custom icons added](https://www.ctoec.org/oec-icon-library/). Likely more to come as needed.
Next steps:

[ x ] - @AmeliaWellers and Adam to gain consensus on categories
[ x ] - Adam to update icon categories accordingly
[ ] - @bloom-hondo to add magic that adjusts table height based on category, or suggest alternative solution
[ x ] - Morgan to tweak intro content to align with the rest of the o

[2021-03-08 19:14] admoorgit commented on #87
Hello @Amelia! Here's a response to your question:

This is proposed styling changes for the output from the field marked "Title" in the callout box block. I'm glad you pointed it out, because I went back to look and actually didn't address line-height, which I just did. @bloom-hondo the new values are in the Figma file here: https://www.figma.com/file/YifRehO7BrZhP1Wdru67Zo/CTDS-OEC?node-id=0%3A1

[2021-03-08 22:23] AmeliaWellers opened #94 "Misaligned image in Media & Text Block"
**Describe the bug**
When an image is justified to the top of the screen within the Media and Text block, image do not line up with the text. Currently, this is being used on the [History of the Parent Cabinet](https://www.ctoec.org/about-oec/partnerships/parent-cabinet/parent-cabinet-history/) page.

**Expected behavior**
Top border of image horizontally aligns with top line of text. (Line betwee

[2021-03-09 00:06] admoorgit commented on #88
Updates were made per @AmeliaWellers and @MorganGriffin-BloomWorks 's feedback. Here's what changed:

- Agreed with Amelia's thoughts on categories. Only thing different is I added "Social"
- Added new intro content and callout box per Morgan's suggestions
- Gotta add the new categories and change a few icon cats, which I will get by tomorrow AM
- Then it will be ready for @bloom-hondo to work his

[2021-03-09 15:54] admoorgit commented on #94
Hello!
To make this adjustment we'd need to tweak the "Media & Text" block in WP. Currently, content has a margin block above and below it, and the image doesn't.

**If we add margin-top: 1.6rem; to .wp-block-media-test_media img, the text and image will top align.**
![image.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/62f24b36-546b-4904-a722-a1445bab4692)

Here's a screensho

[2021-03-09 16:30] admoorgit commented on #83
Hi!
A few minor things, but overall the header image works well across browsers. Here's what I found:

**IE11 on Windows 7 and 10** rolls back to the regular gradient (good!), but:

- Image gets squished on mobile (similar to what @AmeliaWellers saw in Safari)
![ie11-win10-mob.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/233ed123-5de3-404a-bd97-5bf6819d6fef)

- @bloom-hondo i

[2021-03-09 16:56] admoorgit commented on #88
Howdy!
All changes made and categories refigured. @bloom-hondo it's all ready for you, now!

**Here are the categories for easy reference:**
action
announcements
child care
data and technology
documents and media
health
items
location
people and family
social

[2021-03-09 18:15] bloom-hondo commented on #83
These updates are on staging @admoorgit and @AmeliaWellers

[2021-03-09 23:57] MorganGriffin-BloomWorks commented on #88
Hey! This is looking good. @AmeliaWellers I improved a few suggestions about how to use them and will look again tomorrow to make them more formal. Just thinking guidance could be helpful or icons could wind up anywhere. Let me know if you have thoughts.

[2021-03-11 19:32] admoorgit commented on #82
Here B CSS Style Changes 4U @bloom-hondo :

H1 (this is for pages with NO hero image)
~~font-size: 3.5rem; (approx 56px)~~
**font-size: 3rem;**
**margin-bottom: 1rem;**
font-weight: bold;
color: #fff
**line-height: 1.15;**

H2
~~font-size: 2rem (approx 32px)~~
**font-size: 1.75rem;**
font-weight: bold;
color:  #61366F;
line-height: 1.25;
~~margin-top: 1.5rem
margin-bottom: .75rem~~
**margin-top: 2

[2021-03-11 19:52] admoorgit opened #95 "CTOEC Body shifting to the right on Edge for Windows in Browserstack"
Something to look into, as I'm not sure it's a Browserstack or Windows/Edge 88/89 issue.

There are times when a page on CTOEC.org will load with the body content shifted entirely over to the right. It's about the same width of the left nav. It's not consistent, and sometimes it cleans up after a refresh. It may not be anything, but wanted to flag it none-the-less.

![image.png](https://images.zen

[2021-03-11 21:54] AmeliaWellers commented on #84
Went through most of the images (stopped at family resources) and a few general observations came to mind! Mostly for @admoorgit

1. These pages look much more professional. Hooray! And the images stand out much more. Overall, this is a great change.

2. While testing each page, I found that the combination of different purple hues and types of gradient (transparent vs solid) felt disjointed when

[2021-03-11 22:02] AmeliaWellers commented on #83
@admoorgit Since you added all of the header images today, can you confirm that all product/design reccs work as expected/noted above? I did not add one, so I cannot confirm :)

[2021-03-12 17:09] admoorgit commented on #83
All set! The only thing I haven't checked is "max image dimension / resolution" as I don't think we have a cap in place for that. Or do we, @matthewcrist ?

[2021-03-15 17:38] #87 closed, assigned to bloom-hondo, admoorgit

[2021-03-15 17:40] #48 closed, assigned to nobody

[2021-03-15 17:41] #83 closed, assigned to bloom-hondo, admoorgit

[2021-03-15 17:41] AmeliaWellers opened #96 "Test max size image on STAGE"

[2021-03-15 17:42] AmeliaWellers opened #97 "Crop icons on the Icon Library Guide"
### [Icon Library](https://www.ctoec.org/oec-icon-library)

**Bug** (somewhat):
Currently, the icon height is significantly larger than needed, leading to elongated tables.

**Fix**: Crop the extra space so that the icon dimensions are square and nest well inside the table.

[2021-03-15 17:42] #49 closed, assigned to nobody

[2021-03-15 20:27] admoorgit commented on #82
Updated H-tags with new values for @bloom-hondo. Less horsey overall, more spacing added in.

[2021-03-15 21:51] AmeliaWellers commented on #68
Just sent Laurie an email proposing the news filtered function as a way to meet these needs. Will report back here with her response.

[2021-03-16 14:30] AmeliaWellers commented on #68
Laurie is happy with what we have now via the filtered news search. Moving to done.

[2021-03-16 15:18] #68 closed, assigned to AmeliaWellers

[2021-03-16 21:38] AmeliaWellers commented on #91
Notes from the advisory meeting today:
- We proposed a Featured news feature to the Advisory team on 3/16/21. They didn't take to it and preferred chronological (including when a featured news post was positioned as an alternative to the Home Visiting RFP callout). So, the requirements have been updated to not include featured news, and only list news chronologically.
- Team decided not to propose

[2021-03-18 21:31] AmeliaWellers commented on #75
Solved by the addition of the hero image, moving to closed

[2021-03-18 21:31] #75 closed, assigned to nobody

[2021-03-19 15:19] AmeliaWellers commented on #82
Hola! I did a brief QA, a few thoughts below:
- It looks like the table CSS updates didn't make it into stage
- Browserstack isn't really working this morning, I'll try the full QA later today
-  I'm not sure the CSS it's made its way to all of the pages? [This](https://stage.ctoec.org/covid-19/coronavirus-covid-19-faq/) feels differently grouped than [this](https://stage.ctoec.org/child-developme

[2021-03-19 18:33] AmeliaWellers commented on #82
Ah additionally - were the alert banner changes (shortening the height) planned to be included in this css list? I don't think I see it in the list of CSS styles, but I could be missing it.

[2021-03-19 18:38] AmeliaWellers opened #98 "Remove Featured News Text Box from news post editor"
**Issue**: There's a featured text box in the  News Editor, that seems to have no function attached to it.
![Screen Shot 2021-03-19 at 2.36.02 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/94a353c8-f5e3-4074-92fa-55a35c226e08)

**Fix**: Matt will investigate and remove.

[2021-03-19 19:38] AmeliaWellers opened #99 "Add date range filter ctoec.org/news"
### Context
The licensing team requested a news archive, and the news search function fills most of their requirements. However, currently the filter does not allow for filtering by date.

### User Story:
As a use, I want to be able to filter the News Page by month, date, and year so that I can find news that was published in a certain time period.

### Product Requirements
- user can filter and s

[2021-03-19 19:44] AmeliaWellers opened #100 "Update the background color/styling of the news dropdown filter"
**Enhancement**: Update CSS to reflect new CTDS/OEC styles
![Screen Shot 2021-03-19 at 3.40.15 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/867ce8d7-a575-4f74-9374-08a15a782451)

**Some options:**
 - Background color is purple or grey
- Filtered Results Tab is slightly more visible (styled like a tab? maybe?)

# QA Checklist
- [x] Amelia moves QA checklist to each user sto

[2021-03-22 15:48] AmeliaWellers commented on #82
@admoorgit making sure you've seen the above in time for us to make changes before our thursday release. Additionally, @bloom-hondo it looks like the tables still haven't been updated with new styles in stage

[2021-03-22 16:06] admoorgit commented on #82
Hello! I have responses for you @AmeliaWellers!

- @matt do you need anything for table CSS updates from me?
- There shouldn't be anything to look at in browserstack, tbh, since there's nothing fancy or special about the changes — but for the sake of due diligence have at!
- It's all in there, it's just how the pages are tagged. Some are tagged weird, [like this page](https://stage.ctoec.org/covid

[2021-03-22 16:12] AmeliaWellers opened #101 "Last attempt: determine how to adjust tables all tables to mobile view"
**Issue**: This has come up in the past, but we haven't yet found a way to have these tables accurately adjust to the table cell.
**Device**: Most mobile views
**Fix**: taking ideas. If this is not possible, we'll submit a ticket to WP/Gutenberg
![Screen Shot 2021-03-22 at 11.52.27 AM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/9c58d2ae-2075-40c1-b6f6-58796919b994)

[2021-03-22 17:25] AmeliaWellers commented on #95
Discussed 3/22: This is a browserstack issue

[2021-03-22 17:25] #95 closed, assigned to bloom-hondo, admoorgit

[2021-03-22 18:43] admoorgit commented on #82
Hi!
Oooo nice changes @bloom-hondo! Here are new tweaks to wrap things up:
• Let's make the ONLY H-tag with #61366F H2. So H3-H6 are all #1b1b1b. Good call @AmeliaWellers.
• Would like a little some tweaks to H3s. In Inspector I set it to: "margin-top: 1.75rem;" and
"line-height: 1.25;" and things looked good to me. So whatever that translates to in real life, that'll work.

That's it!

[2021-03-24 19:59] admoorgit commented on #54
Updates for news page:

• H1 to match rest of site
• Left nav cap to match rest of site
• Updated expand view (make a callout!)
• Updated pagination style (next sprint?)

![News.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/f8d3d16c-d2f7-4c4a-abd9-c98ec8fb56d3)
![News Expanded.png](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/2babb38c-b7f0-44d6-b87c-c21223d750

[2021-03-25 14:23] AmeliaWellers opened #102 "White space between 2-1-1 and footer sections on homepage"
**Describe the bug**
On the homepage, there's white space below the 2-1-1 section, before the footer, when viewed on a mobile or desktop.

**Expected behavior**
No space between 2-1-1 and footer background color.

**Screenshots**
![IMG_2388.PNG](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/2512e8e9-d7de-4c1e-935c-bce25778d4d6)

**Additional context**
May have happened when we want

[2021-03-25 14:44] #82 closed, assigned to admoorgit

[2021-03-25 14:44] #84 closed, assigned to AmeliaWellers, admoorgit

[2021-03-25 14:45] #88 closed, assigned to AmeliaWellers, admoorgit

[2021-03-25 14:48] AmeliaWellers commented on #59
No longer an issue now that the Languages bar has moved to the ct.gov header.

[2021-03-25 14:48] #59 closed, assigned to bloom-hondo

[2021-03-25 17:09] AmeliaWellers opened #103 "Minimize menu flash across the site when page loads"
**Bug**:Generally secondary menus (sidebar) flash open and closed when loading the page, or refreshing the page. Is there a fix to this?

**Example**
When on the Educational Campaign Materials Page, the sidebar's internal dropdown menu for that section doesn't stay open
https://www.ctoec.org/about-oec/partnerships/connecticut-head-start-state-collaboration-office/

[2021-03-29 21:00] admoorgit opened #104 "How to Add a Header Image instruction page"
Hi it's Adam I made a page detailing how to add a header image to a page.
@AmeliaWellers can you review to see if it makes sense?
@MorganGriffin-BloomWorks can you review to see if it's clear/plain language?

It's here: https://www.ctoec.org/how-to-generate-a-header-images/

This is a bad ticket.

[2021-03-30 14:23] #86 closed, assigned to bloom-hondo

[2021-03-30 14:23] #85 closed, assigned to nobody

[2021-03-30 15:29] AmeliaWellers commented on #104
**Hi! My comments here for @admoorgit:**
- I slightly reformatted the structure of the walkthrough so that it would be easier for me to train (and also, hopefully, easier to follow) with 4 simple steps.
- I worry slightly about someone getting overwhelmed with the number of buttons that exist in Figma, but I think the directions do a good job of being very specific about what to click.
- I do in f

[2021-03-30 16:45] MorganGriffin-BloomWorks commented on #104
Hi people!

(ADAM PLEASE IGNORE RIGHT NOW YOU BASTID)

Looks good. I made some PL type edits on the page itself and saved. Bigger thoughts:

- I think we need to frame this as an intermediate level task upfront. Just because it involves Figma, it's much more complicated than usual. Not our fault, just reality. Could say if you have familiarity with design/photo software this will be easier. Even s

[2021-03-30 19:30] admoorgit commented on #104
Hi!
I made some tweaks. They are:

- Fleshed out compression section
- Tweaked some language in resizing an image
- Added some language about complexity
- Fixed numbering
- added a line about the gradient layer — @MorganGriffin-BloomWorks let me know if this helps
- @AmeliaWellers re: image info — I think this will be a section within the web design guide that we'll be able to link to

Give it a l

[2021-04-05 13:47] #53 closed, assigned to nobody

[2021-04-05 13:57] AmeliaWellers opened #107 "Update all plugins on live site"
Schedule for Thursday morning 4/15 9am

[2021-04-05 13:58] AmeliaWellers opened #108 "Resolve Dependabot dependency conflicts (tickets in Icebox)"

[2021-04-05 15:35] AmeliaWellers commented on #91
My first round of notes:
- Bring the News one section higher on the homepage: below "build your career" and above Beth's blue section.
- Change title on the homepage: "Read the latest news from OEC" and remove the help text.
- Have "See All News" match the size and type of the other links on the page.
- Reduce either the width or the padding of the news Icon by about 20 pixels, to reduce the space

[2021-04-05 15:45] AmeliaWellers commented on #80
Looks much better to me!

[2021-04-05 16:39] #61 closed, assigned to bloom-hondo

[2021-04-05 18:28] AmeliaWellers commented on #100
Hola! I think the new version is perfectly minimalist and straightforward. No complaints, will run through accessibility/browser testing shortly.

[2021-04-05 20:14] AmeliaWellers commented on #91
Two more design things:
-  I'm not the best at estimating pixels, but I think the space under the "Latest News" H2 and the title of the first news post should total about 26.5 pixels (identical to the space below the H2s in the section before it).
- Digging into my "have see all news" comment above: there's now a discrepancy between 2 different link styles on the homepage (screenshots to illustrat

[2021-04-05 20:16] AmeliaWellers commented on #98
I have confirmed that this is no longer visible in the news page editor.

[2021-04-05 20:29] AmeliaWellers commented on #99
This functions well. My only notes:
- Most of the calendar doesn't currently meet the 45:1 color contrast ratio. Would it be possible to have the header and numbers match the CTDS blue, and the non-month numbers in accessible-friendly grey?
- "Published Between" should read  "Filter by date"

[2021-04-05 20:31] AmeliaWellers commented on #100
**Issue:** In mobile, the news results are squished by the Filter Results button.
**Suggested Fix:** It seems that the best fix might be moving the **151 news results** to display directly below the filter tab, left justified.

![IMG_2436.PNG](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/d93b3fa7-11be-48ac-aef9-361c241c39e7)

[2021-04-06 15:46] admoorgit commented on #91
Hello!
Noticed the mock on here is OLD — not sure where the new one is on here (if its even on here), but here it is:
![Homepage News.jpg](https://images.zenhubusercontent.com/60074627e5960a2e82af8ecd/580e9f05-b2ec-497a-b34d-819ca345005e)

Re: link color — @bloom-hondo it should be whatever we're using across the site.
Re: spacing — it'll match whatever is across the site. Figma is more of a repre

[2021-04-08 19:55] AmeliaWellers opened #109 "News Filter buttons take longer to register in mobile"
**Describe the bug**
After pressing a calendar date or any of the checkboxes in the news filter, recognition of user's touch is not as instantaneous as it is on other parts of the site

[2021-04-08 20:07] AmeliaWellers commented on #99
### Hola! Round 2:
- Color contrast accessibility looks good!  Not high priority and purely cosmetic: I think the header of the date-picker should be #20507f to match the ct.gov banner. However, I'd like to await @admoorgit thoughts on that (whenever he is ready) and launch regardless.
- **Reminder to change** "Publish Between" to read "Filter by date" (unless there's a reason not to do this that

[2021-04-08 20:17] AmeliaWellers commented on #99
**Bug**: Currently, a user CAN submit the form if the date range is not logical (PRD  "user cannot submit search if date range is not logical" is not met. Now, the filter will return 0 results.
**Suggested fix:** It seems our options are to either:

1. Do not allow a user to press "submit" until the date range is logical, and include "please submit valid date range" beneath the "Filter by  date" t

[2021-04-08 20:33] AmeliaWellers commented on #100
**Issue**: Filter Results box is now squished in IE 11, when viewed on windows device![Screen Shot 2021-04-08 at 4.31.22 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/62115d70-1cee-4304-842b-27347325170e)

[2021-04-08 20:35] AmeliaWellers commented on #100
**Issue**: Only the top three checkboxes of the news filter show in IE 11 when viewed on WIndows![Screen Shot 2021-04-08 at 4.34.56 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/477e4112-2822-44bb-94ab-28a7a4770351)

[2021-04-08 20:45] AmeliaWellers commented on #100
**Issue: None of the three filters on the News page work in IE when viewed on Safari** This seems like a bigger fix to address specific to IE, and not blocking tomorrow's launch. @bloom-hondo  I can move this to an IE specific ticket for the next release if that works for you, and also validate whether there are enough users who care about this  by the end of the week

[2021-04-08 21:05] AmeliaWellers commented on #100
**Issue**: "NULL" can be seen on most mobile devices and the iPad when viewed on Chrome and Safari, below the OEC logo and above the breadcrumbs
![Screen Shot 2021-04-08 at 4.56.11 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/ff1d2b1f-6eb0-4891-878a-dd1597252668)

[2021-04-08 21:09] AmeliaWellers commented on #99
**Issue: None of the three filters on the News page work in IE when viewed on Windows** This seems like a bigger fix to address specific to IE, and not blocking tomorrow's launch. @bloom-hondo  I can move this to an IE specific ticket for the next release if that works for you, and also validate whether there are enough users who care about this  by the end of the week

[2021-04-08 21:26] AmeliaWellers commented on #91
@bloom-hondo wanted to make sure you saw Adam's mockup above. The main changes are
-  to raise the full news section ABOVE the "About the Office of Early Childhood" section
-  shrink the section from 5 news article links to 3 news article links

Also, the link changes look much better, as well as the link consistency on the homepage. Thanks for popping in Adam but also go have fun with your child.

[2021-04-08 21:28] AmeliaWellers commented on #91
**Cosmetic thing:** In Chrome/desktop devices, sections of the link's on-click blue border are covered by the grid container

![Screen Shot 2021-04-08 at 5.23.48 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/552ae7fe-b896-411b-ac4c-90fc2c9206fd)![Screen Shot 2021-04-08 at 5.23.31 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/1c193189-da28-4cee-9076-d

[2021-04-08 21:34] AmeliaWellers commented on #91
**Issue**:  In Chrome/desktop devices, no blue border shows when tabbing to or clicking "See All News"
**Suggested fix**: Ensure blue border visible when tabbed through or clicked, if only for consistency purposes.

[2021-04-08 21:38] #93 closed, assigned to admoorgit

[2021-04-08 21:38] #97 closed, assigned to nobody

[2021-04-08 21:38] #102 closed, assigned to nobody

[2021-04-08 21:52] AmeliaWellers opened #110 "Make clickable region of OEC Logo identical to SVG size"
**Describe the bug**
Clickable area of OEC logo does not match the size of the logo on touchscreen devices (iPad and iPhone 11 at a minimum)

**Expected behavior**
OEC logo clickable area should match the area of the logo.

[2021-04-08 22:01] AmeliaWellers opened #111 "Add https://portal.ct.gov/ hyperlink to Ct.gov logo in header"
### Context
I have changed my tune to this one. At first I thought it might be confusing to have two clickable logos at the top of the page at all times. Plus, it's hard to find the OEC website from the ct.gov homepage, so I thought users might get lost trying to find their way back.

But some feedback from the advisory team made me realize that having a non-clickable logo could actually be more c

[2021-04-08 22:29] AmeliaWellers opened #112 "Replicate live environment to stage"
### Context
The last time the staging environment reflected the live environment was January 2020.

Tasks:
- [ ] Amelia gives Content Captains and WordPress Wizards a 1-2+ week heads up
- [ ] Matt and/or United Way replicates live site environment to the stage environment as the final step in Website Development

[2021-04-08 22:30] AmeliaWellers opened #113 "Delete dev.ctoec.org"

[2021-04-08 22:56] AmeliaWellers opened #114 "Replace homepage logos with CTDS logos"
**Issue**: the logos on the homepage are still left over from pre-CTDS times
**Fix**: Replace each logo with the following from the [Icon Library](https://www.ctoec.org/oec-icon-library/)
- Find child care and camps uses the **Family Child Care**
- Learn abut child development uses **Baby 2 - Swaddled**
- Get parenting support uses **Family 1** (I can't find a better one, but would prefer to not u

[2021-04-08 23:01] AmeliaWellers opened #115 "From Oct 20: Confirm that all links open in the same window/tab."
Team has decided all links will open in the same window/tab to for security and accessibility purposes. To implement sitewide, Identify a method to find "target=_blank" instances quickly and easily, remove all instances of target=_blank from links.

**To discuss:** how big of a lift is this, and is it worth the impact.

[2021-04-08 23:10] AmeliaWellers opened #116 "Ensure Leo/Jesse have access to ZenHub and GitHub"

[2021-04-09 13:45] AmeliaWellers commented on #91
It's live! Notes for @bloom-hondo
- The "New" has resurfaced! It wasn't there in the staging site and we didn't share this design with OEC. Even though it does give the page a nice visual balance, I think we should remove. One less thing that OEC will need to think about on their homepage (or try to change once we've left).
- Adam's mockup has all H1s in purple. We currently have two titles in blu

[2021-04-09 13:55] bloom-hondo commented on #91
All set. The headline is editable in WP on the home page just FYI.

On Fri, Apr 9 2021 at 9:46 AM, AmeliaWellers < ***@***.*** > wrote:

[2021-04-09 14:02] AmeliaWellers opened #117 "Homepage Issues"
A list of updates:

### News widget
- change "See all News" to a lowercase "news". I didn't know how to change that on the homepage, it looks like it's built into the block.

### Margins
**Issue**: Homepage sections have inconsistent page margins in tablet view
**Fix:** Have padding in other sections stay consistent with the news widget across browser dimensions and devices.
![Screen Shot 2021-04-

[2021-04-09 14:48] AmeliaWellers opened #118 "News page and filter issues"
### Auto-format non-standard date entry
 **Issue**: When a user types in a non-standard date format and presses "submit", they are still able to see search results within that date range.
**Fix**: When submit button is pressed, reformat any manually entered dates into DD/MM/YYYY prior to executing the filter function.

### Add invalid date range error message
**Issue**: When user presses submit wi

[2021-04-09 15:04] AmeliaWellers commented on #100
Finalizing the comments above - the IE issues in browserstack didn't show when pushed to production, so it must have been a bstack fluke. Null is missing from all pages, and all filter menus are spaced well. moving to done!

[2021-04-09 15:09] AmeliaWellers commented on #91
This looks great! I'll move the Chrome blue tab border cosmetic issue, as well as a few non-widget-specific bugs, into a "homepage issues" ticket for the next sprint. Other than that, this is looking really nice.

[2021-04-09 15:15] AmeliaWellers commented on #80
I complete missed this in my QA, but I've just realized:
- The news page's title is "About" but it should be "Our Work"
- The news page's sidebar heading is H2, whereas all other sections' sidebar headers are H3. I don't know if this is a big deal, but flagging just in case, and we may as well keep it consistent and have all sidebar titles at H3.

[2021-04-09 15:17] #98 closed, assigned to nobody

[2021-04-09 15:37] AmeliaWellers opened #119 "Homepage issues"

[2021-04-12 19:59] AmeliaWellers commented on #115
No method to identify / edit. Can include this in WordPress Guide.

[2021-04-12 19:59] #115 closed, assigned to nobody

[2021-04-12 20:12] #54 closed, assigned to nobody

[2021-04-12 20:12] #39 closed, assigned to nobody

[2021-04-12 20:12] #99 closed, assigned to AmeliaWellers, bloom-hondo

[2021-04-12 20:12] #100 closed, assigned to AmeliaWellers, bloom-hondo

[2021-04-12 20:12] #91 closed, assigned to AmeliaWellers, bloom-hondo

[2021-04-12 20:15] #109 closed, assigned to nobody

[2021-04-15 16:41] AmeliaWellers commented on #101
Wrapping this up - Matt and I considered implementing a card-style table for mobile view, but given the timeframe and our accessibility recommendations, we opted to instead go for minimizing the number of columns on a page to 2. Additionally, some of the styling issues on the Contact Us page were a result of the recent Gutenberg editor updates, and were resolved by rebuilding the tables.

[2021-04-19 16:18] admoorgit commented on #80
Hello! Here are my suggestions for tweaks for the page.

- @AmeliaWellers you are right — sidebar header should be H3 size/style, not H2
- Let's get a little more padding underneath the "filter results" button. I changed the div class to "margin-bottom-7" and that looked good!
- On the pages that have the news injected into them, a few tweaks to the "Latest News" H2 — Remove top margin, and add 2.

[2021-04-19 17:33] #52 closed, assigned to nobody

[2021-04-19 18:21] AmeliaWellers commented on #80
@admoorgit and I walked through the pieces above on the news page, and condensed them. I've listed and prioritized them here. Adam, would you mind sharing an updated mockup below?

-  Please add the categories beneath each ctoec.org/news news item (thanks Adam for catching this!). When removing the categories on the homepage (they didn't serve a purpose there), we also accidentally removed the cat

[2021-04-19 19:11] AmeliaWellers commented on #80
On second thought, I want to keep all the news edits in the same place to reduce confusion. I am closing this ticket (it will refer to only Sprint 5 news style fixes now), and moving the exact comment above into the "[News Filter Issues](https://app.zenhub.com/workspaces/oec-website-product-board-600732ace98820000e3ffaea/issues/ctoec/ctoec/118)" ticket that is currently in the backlog, renamed to

[2021-04-19 19:11] #80 closed, assigned to AmeliaWellers, bloom-hondo, admoorgit

[2021-04-19 19:36] AmeliaWellers commented on #118
@admoorgit and I walked through a few more pieces he found on the news page, and we condensed them here. I've listed and prioritized them here. Adam, would you mind sharing an updated mockup below if you get the chance?

### Re-add categories to ctoec.org/news items
**Issue**: When removing the categories on the homepage (they didn't serve a purpose there), we also accidentally removed the categor

[2021-04-19 19:38] #94 closed, assigned to admoorgit

[2021-04-19 19:38] #107 closed, assigned to bloom-hondo

[2021-04-19 19:38] #101 closed, assigned to AmeliaWellers, bloom-hondo

[2021-04-20 17:44] admoorgit commented on #118
Hello! Calendar icon is already in the icon library! YAY!
Here are updated mocks, and some notes for both:

![News-Open-Filters](https://user-images.githubusercontent.com/72033897/115439626-c7afdb00-a1dc-11eb-9c50-64f9bc12c2b2.png)

- Verbiage in the buttons changed: now "Filter News", and "Show filtered results"
- Removed "news" from "results", as it was a bit redundant — is only "XX results" now

[2021-04-20 18:20] admoorgit commented on #114
Yo. I agree with your choices, @AmeliaWellers, and I think for "support" we can just use the heart icon. It's about compassion + empathy, so why not go for it?

@bloom-hondo let me know what you need from me to get this DUNT.

- a.

[2021-04-20 21:03] admoorgit commented on #52
Hi!
The original ask for this has been resolved with header updates. So yay!
Here are a few things I've noticed on the homepage and footer in Safari specifically, @bloom-hondo :

- Footer SVG logos don't visibly focus when tabbed to (OEC and CT.gov), but their links work
- Links in the "Get practical help for your family" and "Build your career in early childhood" do not have a visible focus state

[2021-04-25 00:07] bloom-hondo commented on #103
This appears as two issues.

1) The connecticut-head-start-state-collaboration-office page was added as a custom link to the menu. Because it wasn't using Wordpress' page menu item, it didn't apply the necessary selected CSS classes. Any internal ctoec.org link should use the page menu item for this.

2) The menu requires JS to display the expand / collapse behavior. If the JS fails to load for an

[2021-04-25 01:49] bloom-hondo commented on #114
@admoorgit these are content managed in the home page blocks. you should be able to upload them at will.

[2021-04-26 13:33] admoorgit commented on #114
Oh yay! I will look at them this week and update. Will ping you if needed.

[2021-04-27 14:59] admoorgit commented on #114
Got em!
@AmeliaWellers I made one change which was to make the child care link show the school building — since it'd be 2 hearts in a row (which was a bit much)
@bloom-hondo can you make the megaphone SVG in the news promo block #54278f? I looked in the block code and didn't see where I could change it.

[2021-04-27 16:00] admoorgit commented on #104
I was able to change some things around and make it so they can output images from Powerpoint, and I can make the compression step optional, since the output is reasonable now. Will update the page to reflect this new approach!

[2021-04-27 18:16] admoorgit commented on #104
Yay! Page has been updated: https://www.ctoec.org/how-to-generate-a-header-images/ (clearly I need to update the permalink hahaha)
@MorganGriffin-BloomWorks can you take a look when you have a chance to make sure it makes sense?

If all is well, @AmeliaWellers we'll want to move and update all the links so they point to the P drive, so it's easier for OEC to access. Right now it's all pointing to

[2021-04-29 16:01] bloom-hondo commented on #117
@admoorgit this is ready for your testing.

[2021-04-29 16:02] bloom-hondo commented on #111
@admoorgit this is ready for your testing

[2021-04-29 16:02] bloom-hondo commented on #110
@admoorgit this is ready for your testing.

[2021-04-29 16:04] bloom-hondo commented on #103
@admoorgit any thoughts on the above?

[2021-05-03 14:45] admoorgit commented on #103
1. Looks like we need to do this thing. I'm not entirely sure what the process is to achieve this. @AmeliaWellers is this something you can do?
2. Familiar with this issue from past experience. That's just part of using JS and getting it to do what we want. Considering this issue only pops if there's an, er, issue, I'm OK with it, as most users will likely not notice it.

[2021-05-03 15:04] admoorgit commented on #110
All set! (this was basically fixed when we did the new header — think this was an artifact, but good to review regardless)

[2021-05-03 15:12] admoorgit commented on #111
Perfecto!

[2021-05-03 15:27] admoorgit commented on #117
Issue — STATUS

change "See all News" to a lowercase "news". I didn't know how to change that on the homepage, it looks like it's built into the block. **— FIXED!**

Issue: Homepage sections have inconsistent page margins in tablet view **— Would LOVE for Beth Bye's image to be either centered on the "Build Your Career" image, or right-aligned so the margin is clear. Same with the 2-1-1 logo. Othe

[2021-05-09 22:37] #56 closed, assigned to bloom-hondo

[2021-05-10 14:41] AmeliaWellers commented on #103
1. Good to know. I removed the custom link and re-added the menu item as a normal page, and the left sidebar stays open now. Not sure how that happened, but I know there are some other pages that may have the same situation. It's tricky to see (aka I am unable to see) the difference from the menu dashboard.
2. I'm ok with it too! Default to open seems the most fail-safe for the future.

Seems like

[2021-05-10 14:51] AmeliaWellers commented on #104
Hi! I just took a scan and from first glance, this looks great. I'll work with Maggie and Chenae to add the correct links.

[2021-05-10 14:53] AmeliaWellers commented on #114
This looks awesome now. However, we're missing one! The News megaphone is still black, I assume it should also be purple?

[2021-05-10 14:58] AmeliaWellers commented on #118
Let's discuss the status of this ticket at standup today and pull out only the low lift/high prio tasks for the week.

[2021-05-10 17:12] #81 closed, assigned to AmeliaWellers, bloom-hondo, admoorgit

[2021-05-11 17:22] AmeliaWellers commented on #117
- everything looks good!
- one new thing but should be an extremely easy fix: does it make sense for the "read the latest news" H2 to be in purple, when the other H2s are blue? Seems inconsistent to me, would like @admoorgit 's thoughts.

Also, I only checked these updates on the latest ipad versions, chrome/safari,in browserstack, FYI.

[2021-05-11 17:24] AmeliaWellers commented on #114
@admoorgit I'm cool with the above, looks great

Looking halfway there! For some reason, the handle of the megaphone is black and the megaphone itself is purple! ![Screen Shot 2021-05-11 at 1.24.30 PM.png](https://images.zenhubusercontent.com/600707487eacdcc9a535ffa4/7cb14349-946f-499a-89d9-9f8a8d370600)

[2021-05-11 17:51] AmeliaWellers commented on #118
These all look great and work well. The clear filter is VERY useful. Of course, I found a few edge cases that don't work within the filter:

**Issue**: When a user adds a non-standard date format, and then fixes it, "_please add standard format MM/YY etc_." doesn't go away.
**Fix**: When non-standard date format is standardized, also reset the alert. ![Screen Shot 2021-05-11 at 1.31.06 PM.png](htt

[2021-05-11 17:51] AmeliaWellers commented on #111
looks great!

[2021-05-11 17:52] AmeliaWellers commented on #110
Also looks great

[2021-05-11 18:39] #119 closed, assigned to nobody

[2021-05-12 00:26] bloom-hondo commented on #117
This is on staging.

[2021-05-12 00:27] bloom-hondo commented on #114
On staging

[2021-05-12 15:13] admoorgit commented on #117
Can we makes em all purple like dee rest of the site?
<img width="726" alt="image" src="https://user-images.githubusercontent.com/72033897/117999615-06840d00-b313-11eb-91eb-e0ef7b5176f5.png">

[2021-05-12 21:24] AmeliaWellers commented on #118
Just gave a double check for the issues above. It looks like it's working except for when I enter a publish before (only) date, it is still returning my "NEW" item from 5/11/21, which is not within the specified date range.

I'm also posting randomly badly formatted dates into this search filter. The filter didn't catch the following dates. I am sure there are an infinite number of ways that someo

[2021-05-12 21:26] AmeliaWellers commented on #117
works for me if it works for Matt!

[2021-05-12 21:27] #96 closed, assigned to AmeliaWellers

[2021-05-14 19:49] #114 closed, assigned to admoorgit

[2021-05-14 19:49] #103 closed, assigned to bloom-hondo

[2021-05-14 19:49] #64 closed, assigned to AmeliaWellers

[2021-05-14 19:49] #108 closed, assigned to bloom-hondo

[2021-05-14 19:50] #117 closed, assigned to admoorgit

[2021-05-14 19:50] #118 closed, assigned to bloom-hondo, admoorgit

[2021-05-14 19:50] #111 closed, assigned to bloom-hondo, admoorgit

[2021-05-14 19:50] #104 closed, assigned to AmeliaWellers, admoorgit, MorganGriffin-BloomWorks

[2021-05-14 19:51] #110 closed, assigned to bloom-hondo, admoorgit

[2021-05-14 19:51] #65 closed, assigned to AmeliaWellers